# Google OAuth 2.0 & One Tap Configuration
VITE_GOOGLE_CLIENT_ID=564423794141-eum30ivtuprbv8ikk8qi6b7gapgm6a2v.apps.googleusercontent.com

# Backend API Configuration
VITE_API_URL=http://localhost:8000/api/v1

# Mercado Pago Public Key
VITE_MERCADO_PAGO_PUBLIC_KEY=APP_USR-2495fe9b-0ec9-4b6f-819c-47df2d37522b

