# Dependencies
node_modules/
.pnp
.pnp.js

# Testing & Coverage
coverage/
.nyc_output/

# Production Build
dist/
build/
frontend/dist/

# Python & Virtualenv
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
backend/__pycache__/
backend/*/__pycache__/
backend/*/*/__pycache__/

# Environment variables & secrets
.env
.env.*
!.env.example
backend/.env
frontend/.env

*.log
*.sqlite
*.sqlite3
*.db

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

# Temp Media Storage
.tempmediaStorage/
